<div class="card">
  <div class="card-header">
    <h4>On Time Delivery - Add Entry</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" style="position: absolute;
    top: 3px;
    right: 10px;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="card-body">
  <div class="on-time-form">
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Product</label>
      <div class="col-sm-5">
        <input
        id="quality-productName"
        type="text"
        name="product"
        class="form-control"
        [(ngModel)]="onTimeDeliveryTablePayload.Prod_ID"
        [ngbTypeahead]="searchProducts"
        (focus)="focusProduct$.next($event.target.value)"
        (click)="clickProduct$.next($event.target.value)"
        #instance="ngbTypeahead"
        [ngModelOptions]="{standalone: true}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Customer Name</label>
      <div class="col-sm-5">
        <input
        id="quality-customerName"
        type="text"
        name="customer"
        class="form-control"
        [(ngModel)]="onTimeDeliveryTablePayload.Cust_ID"
        [ngbTypeahead]="searchCustomers"
        (focus)="focusCustomer$.next($event.target.value)"
        (click)="clickCustomer$.next($event.target.value)"
        #instance="ngbTypeahead"
        [ngModelOptions]="{standalone: true}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Qty of conforming products shipped for the month</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="onTimeDeliveryTablePayload.Cnf_Prod_Shipped_Mon">
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Total Qty of Product Shipped for the month</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="onTimeDeliveryTablePayload.Tot_Prod_Shipped_Mon">
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
  <button class="btn btn-success btn-block mt-2 mb-2" (click)="addOnTimeRecord()">
    <span class="fa fa-fw fa-save"></span> Save
  </button>

</div>
<!-- <div class="card-footer" *ngIf="dimentionalService.onTimeDeliveryData.length != 0">
    <button class="btn btn-success btn-block mt-2 mb-2" (click)="updateOnTimeRecord()">
      <span class="fa fa-fw fa-save"></span> Update
    </button>
  
  </div> -->
</div>
