<div class="container">
  <div class="row justify-content-center" style="margin-top:20%">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center pt-3">
            <img src="../assets/img/logo-transparent.png" alt="" height="70px">
            <h2 class="mt-5">Login</h2>
          </div>
          <div class="card-content mb-5">
            <div class="login-form pl-5 pr-5 pt-4">
              <div class="form-group">
                <form (keydown)="keyDownFunction($event)">
                  <input type="text" class="form-control mb-3" placeholder="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                  <input type="password" class="form-control" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </form>
              </div>
              <div class="failedLogin-prompt text-danger">
                <p *ngIf="!failedLogin">&nbsp;</p>
                <p *ngIf="failedLogin">The username or password is incorrect. Please try again.</p>
              </div>
              <div class="action pl-5 pr-5 pt-2">
                <button class="button btn btn-primary btn-block" (click)="attemptLogin()" [ladda]="attemptingLogin" (keydown.enter)="test()">
                  Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
