<div class="card">
  <div class="card-header">
    <h4>Productivity KPI - Add Entry</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" style="position: absolute;
    top: 3px;
    right: 10px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <div class="productivity-kpi-form">
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">Product</label>
        <div class="col-sm-3">
          <input id="quality-productName" type="text" name="product" class="form-control" [(ngModel)]="productivityKpiPayload.Prod_ID"
            [ngbTypeahead]="searchProducts" (focus)="focusProduct$.next($event.target.value)" (click)="clickProduct$.next($event.target.value)"
            #instance="ngbTypeahead" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">Total Employees on first day of the month</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Tot_Emp_First_Day_Mon">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">Total Employeeson last day the month</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Tot_Emp_Last_Day_Mon">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">Number of employees who left during the month</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Emp_Left_Mon">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">$ Cost of premium freight In</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Cost_Premium_Freight_In_Mon">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">$ Cost of premium freight Out</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Cost_Premium_Freight_Out_Mon">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">$ Revenue for the month</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Revenue_Mon">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">COGS</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Cogs">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">Month end inventory value in local currency</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Mon_End_Inv_Local_Curr">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">Previous Month-End inventory value in local currency</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Pre_Mon_End_Inv_Local_Curr">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">MFG Costs from P&L</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.All_Mfg_Cost_PnL">
        </div>
      </div>
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">Overtime Costs from P&L</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="productivityKpiPayload.Overtime_Cost_PnL">
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-success btn-block mt-2 mb-2" (click)="addProductivityKPIRecord()">
      <span class="fa fa-fw fa-save"></span> Save
    </button>

  </div>
  <!-- <div class="card-footer" *ngIf="dimentionalService.productivityData.length != 0">
      <button class="btn btn-success btn-block mt-2 mb-2" (click)="updateProductivityKPIRecord()">
        <span class="fa fa-fw fa-save"></span> Update
      </button>
  
    </div> -->
</div>