<nav class="navbar navbar-expand-lg navbar-light mb-5" style="border-bottom: 2px solid navy">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/whiteLogoC.png" alt="" height="60px">
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <span class="user-info">
      <span style="border-right: 2px solid black; padding-right: 1rem">Logged in as : <strong>{{user.User_Name}}</strong></span>
      <span style="padding-left: 1rem; cursor:pointer" (click)="signOut()"><span class="fa fa-fw fa-sign-out"></span> Sign-Out</span>
    </span>
  </div>
</nav>
