.year-row{
  display: flex;
  justify-content: space-between;
  text-align: center;
  .year-entry{
    cursor: pointer;
    padding: 5px 15px;
  }
  .selectedYear{
    color: black !important;
    font-size: 36px !important;
  }
}
.gutter.separator{
  border-top: 2px solid #333;
  margin: 2rem 1rem 3rem 2rem;
}

.records-history{
  &-table{
    .row-actions{
      span{
        padding: 0px 5px;
      }
    }
  }
}
.recordPresent{
  background-color: #F3F0F0;
}

.card{
  .card-body{
    .card-title{
      &-text{
        &-history{
          border-bottom: 3px solid purple;
        }
      }
    }
  }
}
