<div class="home-wrapper">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md">
        <h3>Add new report</h3>
        <p>Choose year and month to add a new report</p>

        <div class="year-row">
          <span class="year-entry h4 text-muted"
          [ngClass]="{'selectedYear': checkWhichYear(year)}"
          *ngFor="let year of calYears"
          (click)="displayReportsAvailability(selectedYear = year)">
          {{year}}</span>
      </div>
      <hr>
      <div class="row" *ngIf="calMonthsObj.length < 1">
        <div class="col-12 text-center h3 text-muted mt-4 mb-3">
          <span class="fa fa-fw fa-spin fa-spinner"></span><span> Gathering monthly data. Please wait.</span>
        </div>
      </div>
      <div class="row mt-4" *ngIf="calMonthsObj.length > 1">
        <div class="col-md-2 col-4" *ngFor="let calMonthObj of calMonthsObj">
          <div class="card mb-3" [ngClass]="{'recordPresent' : calMonthObj.Present_Anywhere}">
            <div class="card-body text-center">
              <span class="h5">{{calMonthObj.MonthName}}</span> <br>
              <div *ngIf="calMonthObj.Present_Anywhere">
                <span class="text-success">Report Present</span>
                <div class="text-center mt-2">
                  <a class="btn btn-block btn-sm btn-outline-warning" [routerLink]="['records', selectedYear, calMonthObj.MonthNumber]" [queryParams]="{viewOnly: true}" >Select</a>
                </div>
              </div>
              <div *ngIf="!calMonthObj.Present_Anywhere">
                <span class="text-danger">No Report</span>
                <div class="text-center mt-2">
                  <button class="btn btn-block btn-sm btn-outline-primary" [routerLink]="['records', selectedYear, calMonthObj.MonthNumber]" (click)="setDate(selectedYear,calMonthObj.MonthNumber)">Add New</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gutter separator"></div>
  <div class="text-center">
    <img src="../assets/img/logo-transparent.png" class="img-fluid" alt="Responsive image" style="height:80px;">
  </div>
  <!-- <div class="row records-history">
    <div class="col-md">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><span class="card-title-text card-title-text-history pb-2">Records History</span></h2>
          <table class="table mt-5 records-history-table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="row-actions">
                  <span class="fa fw-fw fa-pencil"></span>
                  <span class="fa fw-fw fa-trash"></span>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td class="row-actions">
                  <span class="fa fw-fw fa-pencil"></span>
                  <span class="fa fw-fw fa-trash"></span>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td class="row-actions">
                  <span class="fa fw-fw fa-pencil"></span>
                  <span class="fa fw-fw fa-trash"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</div>
</div>
