<div class="card">
  <div class="card-body text-center">
    <h3>This will permanantly delete this report. <br> Are you sure you want to proceed?</h3>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-danger mr-2" (click)="confirmDelete()" [ladda]="deleting"><span class="fa fa-fw fa-trash"></span> Delete</button>
    <button class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')"><span class="fa fa-fw fa-times"></span> Cancel</button>
  </div>
</div>
