<div class="card">
  <div class="card-header">
    <h4>Quality Record - Add Entry</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" style="position: absolute;
    top: 3px;
    right: 10px;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="card-body">
  <!-- <div class="mt-3 mb-4 text-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-info" [ngClass]="{'active' : isCustomer}" (click)="isCustomer = true">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Customer
      </label>
      <label class="btn btn-outline-info" [ngClass]="{'active' : !isCustomer}" (click)="isCustomer = false">
        <input type="radio" name="options" id="option2" autocomplete="off"> Supplier
      </label>
      {{customer}}
    </div>
  </div> -->
  <div class="customer-form">
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Customer Name</label>
      <div class="col-sm-5">
        <input
        id="quality-customerName"
        type="text"
        name="customer"
        class="form-control"
        [(ngModel)]="qualityTablePayload.Cust_ID"
        [ngbTypeahead]="searchCustomers"
        (focus)="focus$.next($event.target.value)"
        (click)="click$.next($event.target.value)"
        #instance="ngbTypeahead"
        [ngModelOptions]="{standalone: true}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Product</label>
      <div class="col-sm-5">
        <input
        id="quality-productName"
        type="text"
        name="product"
        class="form-control"
        [(ngModel)]="qualityTablePayload.Prod_ID"
        [ngbTypeahead]="searchProducts"
        (focus)="focusProduct$.next($event.target.value)"
        (click)="clickProduct$.next($event.target.value)"
        #instance="ngbTypeahead"
        [ngModelOptions]="{standalone: true}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Sub Product</label>
      <div class="col-sm-5">
        <input
        id="quality-subProductName"
        type="text"
        name="subProduct"
        class="form-control"
        [(ngModel)]="qualityTablePayload.Sub_Prod_ID"
        [ngbTypeahead]="searchSubProducts"
        (focus)="focusSubProduct$.next($event.target.value)"
        (click)="clickSubProduct$.next($event.target.value)"
        #instance="ngbTypeahead"
        [ngModelOptions]="{standalone: true}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Total Rejected Qty for the month</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="qualityTablePayload.Tot_Rjctd_Qty_For_Mon">
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Shipped Quanitity for the month</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="qualityTablePayload.Shipped_Qty_For_Mon">
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">$ Production Scrap for the month</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="qualityTablePayload.Scrap_For_Mon">
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">$ Revenue for the month</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="qualityTablePayload.Revenue_Mon">
      </div>
    </div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label"># of Complaints</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="qualityTablePayload.No_Of_Complaints">
      </div>
    </div>

  </div>

<!-- <hr class="mt-4">
  <div>
    <div class="h5 mb-3">Supplier Infomation</div>
    <div class="form-group row">
      <label for="lostTimeIncedent" class="col-sm-7 col-form-label">Total Supplier # PPM</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="lostTimeIncedent" value="5" [(ngModel)]="qualityTablePayload.supplierPPM">
      </div>
    </div>

  </div> -->
</div>
<div class="card-footer" *ngIf="dimentionalService.index == -1">
  <button class="btn btn-success btn-block mt-2 mb-2" (click)="addQualityRecord()" [ladda]="saving">
    <span class="fa fa-fw fa-save"></span> Save
  </button>
</div>

<div class="card-footer" *ngIf="dimentionalService.index >= 0">
    <button class="btn btn-success btn-block mt-2 mb-2" (click)="updateQualityRecord()" [ladda]="updating">
      <span class="fa fa-fw fa-save"></span> Update
    </button>
  </div>
</div>
