<div class="card">
  <div class="card-header">
    <h4>Supplier PPM - Add Entry</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" style="position: absolute;
    top: 3px;
    right: 10px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <div class="supplier-ppm-form">
      <div class="form-group row">
        <label for="lostTimeIncedent" class="col-sm-9 col-form-label">Product</label>
        <div class="col-sm-3">
          <input id="supplier-productName" type="text" name="product" class="form-control" [(ngModel)]="supplierPPMPayload.Prod_ID"
            [ngbTypeahead]="searchProducts" (focus)="focusProduct$.next($event.target.value)" (click)="clickProduct$.next($event.target.value)"
            #instance="ngbTypeahead" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="form-group row">
        <label for="supplierPPM" class="col-sm-9 col-form-label">Supplier PPM</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="supplierPPM" value="5" [(ngModel)]="supplierPPMPayload.Tot_Supp_PPM_Qlty">
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-success btn-block mt-2 mb-2" (click)="addSupplierPPMRecord()" [ladda]="saving">
      <span class="fa fa-fw fa-save"></span> Save
    </button>

  </div>
  <!-- <div class="card-footer" *ngIf="dimentionalService.supplierData.length != 0">
      <button class="btn btn-success btn-block mt-2 mb-2" (click)="updateSupplierPPMRecord()" [ladda]="updating">
        <span class="fa fa-fw fa-save"></span> Update
      </button>
  
    </div> -->

</div>