<div class="container new-report-wrapper">
    <div class="row">
      <div class="col-md">
        <div class="section-heading mb-3">
          <div class="header">
            <span class="h4">Create New Report</span>
            <!-- <span class="float-right h4"><span class="text-muted">Region:</span> 3</span>
            <span class="float-right h4 mr-3"><span class="text-muted">Plant:</span> 6</span> [(ngModel)]="reportObj.plant[0].Lost_Time_Incident" -->
          </div>
          <div class="row-actions" *ngIf="isInReview && !editPage" style="min-width: 77px">
              <div class="editPencilSafetyParameters" *ngIf="isInReview">
                <span class="fa fw-fw fa-pencil" (click)="editPage = true" ></span>
              </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-7">
            <div class="card mb-4 safety-card">
              <div class="card-body">
                <h5 class="card-title">
                  <span class="card-title-text card-title-text-safety">Safety Parameters</span>
                </h5>
                <div class="card-contents mt-4">
                  <form novalidate>
                    <div class="form-group row">
                      <label for="lostTimeIncedent" class="col-sm-9 col-form-label"># of Lost Time Incidents for the Previous Month</label>
                      <div class="col-sm-3 text-center">
                        <input type="number" class="form-control" name="lostTimeIncedent" [(ngModel)]="dimentionalService.safetyPrameters.Lost_Time_Incident" [ngClass]="{'form-control-plaintext' : isInReview, 'form-control' : !isInReview}"
                          [readonly]="isInReview && !editPage">
                      </div>
                      <!-- pattern="^[1-9][0-9]{0,9}$" #lostTimeIncedent="ngModel" <div *ngIf="lostTimeIncedent.touched">
                        <div *ngIf="lostTimeIncedent.errors?.pattern" class="text-danger">
                          *this entry can only contain number!!
                        </div>
                      </div> -->
                    </div>
                    <div class="form-group row">
                      <label for="lostDaysPrevMonth" class="col-sm-9 col-form-label">Total # of lost time days for the Previous Month</label>
                      <div class="col-sm-3">
                        <input type="number" name="lostDaysPrevMonth" [(ngModel)]="dimentionalService.safetyPrameters.Tot_Lost_Time_Days_Mon" [ngClass]="{'form-control-plaintext' : isInReview, 'form-control' : !isInReview}"
                          [readonly]="isInReview && !editPage">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="empFirstDayofMonth" class="col-sm-9 col-form-label">Total Employees on the first day of the month</label>
                      <div class="col-sm-3">
                        <input type="number" name="empFirstDayofMonth" [(ngModel)]="dimentionalService.safetyPrameters.Tot_Emp_First_Day_Mon" [ngClass]="{'form-control-plaintext' : isInReview, 'form-control' : !isInReview}"
                          [readonly]="isInReview && !editPage">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="empLastDayofMonth" class="col-sm-9 col-form-label">Total Employees on last day of the month</label>
                      <div class="col-sm-3">
                        <input type="number" name="empLastDayofMonth" [(ngModel)]="dimentionalService.safetyPrameters.Tot_Emp_Last_Day_Mon" [ngClass]="{'form-control-plaintext' : isInReview, 'form-control' : !isInReview}"
                          [readonly]="isInReview && !editPage">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 right-info-panel text-center" style="padding-top: 30px" [ngClass]="{'non-review-padding' : !isInReview}">
            <div class="review-flag pb-3" *ngIf="isInReview">
              <span class="text-danger h5">In-Review</span>
            </div>
            <div class="info-month mb-3">
              <!-- <p>{{today | date : 'MMM dd, yyyy'}} </p> -->
              <span class="text-muted">
                <span *ngIf="!isInReview">Filing</span>
                <span *ngIf="isInReview">Reviewing</span> report For:</span>
              <div>
                <span class="month capitalize">{{selectedMonth}}</span>
                <br>
                <p class="h5">{{selectedYear}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4 info-region">
                Region
                <br/>
                <strong>{{dimentionalService.regionName}}</strong>
              </div>
              <div class="col-sm-8 info-plant">
                Plant
                <br/>
                <strong>{{dimentionalService.plantName}}</strong>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-6 info-region">
                Region <strong>6</strong>
              </div>
              <div class="col-sm-6 info-plant">
                <button class="btn btn-danger" *ngIf="isInReview" disabled> {{checkIfPlantSet()}}</button>
                <div ngbDropdown class="d-inline-block" *ngIf="!isInReview">
                  <button class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle [disabled]="!dimentionalService.plants">{{selectedPlant}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" *ngFor="let plant of dimentionalService.plants" (click)="setPlant(plant)">
                      {{plant}}
                    </button>
                  </div>
                </div>
              </div>
  
            </div> -->
          </div>
        </div>
  
        <div class="card mb-4 quality-card">
          <div class="card-body">
            <h5 class="card-title">
              <span class="card-title-text card-title-text-quality">Quality</span>
            </h5>
            <div class="card-contents mt-4">
              <div class="card-contents-header mb-2">
                <div class="float-right">
                  <h4>Customer KPI</h4>
                </div>
              </div>
              <table class="table mb-5">
                <thead class="small">
                  <tr valign="top">
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Product</th>
                    <th scope="col">Sub-Product</th>
                    <th scope="col">Total Rejected Qty for the month</th>
                    <th scope="col">Shipped Quanitity for the month</th>
                    <th scope="col">$ Production Scrap for the month</th>
                    <th scope="col">$ Revenue for the month</th>
                    <th scope="col"># of Complaints</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="dimentionalService.customerData.length == 0">
                    <td colspan="11" class="text-center p-5">
                      <span class="h5" style="color: #ccc">No records added</span>
                    </td>
                  </tr>
                  <tr *ngFor="let qualityReport of dimentionalService.customerData; let index = index">
                    <th scope="row">{{index+1}}</th>
                    <td>{{dimentionalService.customerLookup[qualityReport.Cust_ID]}}</td>
                    <td>{{dimentionalService.productLookup[qualityReport.Prod_ID]}}</td>
                    <td>{{dimentionalService.subProductLookup[qualityReport.Sub_Prod_ID]}}</td>
                    <td>{{qualityReport.Tot_Rjctd_Qty_For_Mon}}</td>
                    <td>{{qualityReport.Shipped_Qty_For_Mon}}</td>
                    <td>{{qualityReport.Scrap_For_Mon}}</td>
                    <td>{{qualityReport.Revenue_Mon}}</td>
                    <td>{{qualityReport.No_Of_Complaints}}</td>
                    <td class="row-actions" *ngIf="editPage" style="min-width: 77px">
                      <span class="fa fw-fw fa-pencil" (click)="sendIndextoService(index);openModal('QualityFormComponent')"></span>
                      <span class="fa fw-fw fa-trash" (click)="delete(dimentionalService.customerData,index)"></span>
                    </td>
                  </tr>
                  <tr *ngIf="!isInReview || editPage">
                    <td colspan="11">
                      <button class="btn btn-block btn-outline-primary" (click)="sendIndextoService(-1);openModal('QualityFormComponent')">
                        <span class="fa fa-fw fa-plus"></span>Add New</button>
                    </td>
                  </tr>
                </tbody>
              </table>
  
              <div class="card-contents mt-4">
                <div class="card-contents-header mb-2">
                  <div class="float-right">
                    <h4>Supplier PPM</h4>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead class="small">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Total Supplier # PPM</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="dimentionalService.supplierData.length == 0">
                        <td colspan="13" class="text-center p-5">
                          <span class="h5" style="color: #ccc">No records added</span>
                        </td>
                      </tr>
                      <tr *ngFor="let supplierReport of dimentionalService.supplierData; let index = index">
                        <th scope="row">{{index + 1}}</th>
                        <td>{{dimentionalService.productLookup[supplierReport.Prod_ID]}}</td>
                        <td>{{supplierReport.Tot_Supp_PPM_Qlty}}</td>
                        <td class="row-actions" *ngIf="editPage" style="min-width: 77px">
                          <span class="fa fw-fw fa-pencil" (click)="openModal('SupplierPpmComponent')"></span>
                          <span class="fa fw-fw fa-trash" (click)="delete(dimentionalService.supplierData,index)"></span>
                        </td>
                      </tr>
                      <tr *ngIf="!isInReview || editPage">
                        <td colspan="13">
                          <button class="btn btn-block btn-outline-primary" (click)="openModal('SupplierPpmComponent')">
                            <span class="fa fa-fw fa-plus"></span>Add New</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="card mb-4 productivity-card">
          <div class="card-body">
            <h5 class="card-title">
              <span class="card-title-text card-title-text-productivity">Productivity</span>
            </h5>
  
            <div class="card-contents mt-4">
              <div class="card-contents-header mb-2">
                <div class="float-right">
                  <h4>On-time Delivery</h4>
                </div>
              </div>
              <table class="table">
                <thead class="small">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Qty of conforming products shipped for the month</th>
                    <th scope="col">Total Qty of Product Shipped for the month</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="dimentionalService.onTimeDeliveryData.length == 0">
                    <td colspan="10" class="text-center p-5">
                      <span class="h5" style="color: #ccc">No records added</span>
                    </td>
                  </tr>
                  <tr *ngFor="let onTimeDelivery of dimentionalService.onTimeDeliveryData; let index = index">
                    <th scope="row">{{index + 1}}</th>
                    <td>{{dimentionalService.productLookup[onTimeDelivery.Prod_ID]}}</td>
                    <td>{{dimentionalService.customerLookup[onTimeDelivery.Cust_ID]}}</td>
                    <td>{{onTimeDelivery.Cnf_Prod_Shipped_Mon}}</td>
                    <td>{{onTimeDelivery.Tot_Prod_Shipped_Mon}}</td>
                    <td class="row-actions" *ngIf="editPage" style="min-width: 77px">
                      <span class="fa fw-fw fa-pencil" (click)="openModal('OnTimeDeliveryFormComponent')"></span>
                      <span class="fa fw-fw fa-trash" (click)="delete(dimentionalService.onTimeDeliveryData,index)"></span>
                    </td>
                  </tr>
                  <tr *ngIf="!isInReview || editPage">
                    <td colspan="6">
                      <button class="btn btn-block btn-outline-primary" (click)="openModal('OnTimeDeliveryFormComponent')">
                        <span class="fa fa-fw fa-plus"></span>Add New</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <div class="card-contents mt-5">
              <div class="card-contents-header mb-2">
                <div class="float-right">
                  <h4>Productivity KPI</h4>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead class="small">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Product</th>
                      <th scope="col"># of employees who left during the month</th>
                      <th scope="col">Total Employees
                        <br> on first day of the month</th>
                      <th scope="col">Total Employeeson last day the month</th>
                      <th scope="col">$ Cost of premium freight In</th>
                      <th scope="col">$ Cost of premium freight Out</th>
                      <th scope="col">$ Revenue for the month</th>
                      <th scope="col">COGS</th>
                      <th scope="col">Month end inventory value in local currency</th>
                      <th scope="col">Previous Month-End inventory value in local currency</th>
                      <th scope="col">MFG Costs from P&L</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="dimentionalService.productivityData.length == 0">
                      <td colspan="13" class="text-center p-5">
                        <span class="h5" style="color: #ccc">No records added</span>
                      </td>
                    </tr>
                    <tr *ngFor="let productivityReport of dimentionalService.productivityData; let index = index">
                      <th scope="row">{{index + 1}}</th>
                      <td>{{dimentionalService.productLookup[productivityReport.Prod_ID]}}</td>
                      <td>{{productivityReport.Emp_Left_Mon}}</td>
                      <td>{{productivityReport.Tot_Emp_First_Day_Mon}}</td>
                      <td>{{productivityReport.Tot_Emp_Last_Day_Mon}}</td>
                      <td>{{productivityReport.Cost_Premium_Freight_In_Mon}}</td>
                      <td>{{productivityReport.Cost_Premium_Freight_Out_Mon}}</td>
                      <td>{{productivityReport.Revenue_Mon}}</td>
                      <td>{{productivityReport.Cogs}}</td>
                      <td>{{productivityReport.Mon_End_Inv_Local_Curr}}</td>
                      <td>{{productivityReport.Pre_Mon_End_Inv_Local_Curr}}</td>
                      <td>{{productivityReport.All_Mfg_Cost_PnL}}</td>
                      <td class="row-actions" *ngIf="editPage" style="min-width: 77px">
                        <span class="fa fw-fw fa-pencil" (click)="openModal('ProductivityKpiFormComponent')"></span>
                        <span class="fa fw-fw fa-trash" (click)="delete(dimentionalService.productivityData,index)"></span>
                      </td>
                    </tr>
                    <tr *ngIf="!isInReview">
                      <td colspan="13">
                        <button class="btn btn-block btn-outline-primary" (click)="openModal('ProductivityKpiFormComponent')">
                          <span class="fa fa-fw fa-plus"></span>Add New</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        

        <div *ngIf="editPage">
            <span class="back-button mb-5">
              <button class="btn btn-lg btn-warning" *ngIf="isInReview" (click)="editPage = false">
                <span class="fa fa-fw fa-cross"></span>
                Back : Cancel
              </button>
            </span>
            <span class="save-button mb-5 float-right">
              <!-- shows only on editable screen -->
              <button class="btn btn-lg btn-success" *ngIf="!isInReview" (click)="pushForReview()">
                Next Step : Review
                <span class="fa fa-fw fa-arrow-right"></span>
              </button>
    
              <!-- shows only on review screen -->
              <button class="btn btn-lg btn-success" *ngIf="isInReview" (click)="update()" [disabled]="!checkFormValidation()">
                <span class="fa fa-fw fa-save"></span>
                Confirm and Update
              </button>
            </span>
        </div>
  
  
        <div *ngIf="!viewOnly && !editPage">
          <span class="back-button mb-5">
            <button class="btn btn-lg btn-warning" *ngIf="isInReview" (click)="isInReview = false">
              <span class="fa fa-fw fa-arrow-left"></span>
              Back : Edit
            </button>
          </span>
  
          <span class="save-button mb-5 float-right">
            <!-- shows only on editable screen -->
            <button class="btn btn-lg btn-success" *ngIf="!isInReview" (click)="pushForReview()">
              Next Step : Review
              <span class="fa fa-fw fa-arrow-right"></span>
            </button>
  
            <!-- shows only on review screen -->
            <button class="btn btn-lg btn-success" *ngIf="isInReview" (click)="save()" [disabled]="!checkFormValidation()">
              <span class="fa fa-fw fa-save"></span>
              Confirm and Save
            </button>
          </span>
        </div>
  
        <div *ngIf="viewOnly && !editPage" class="mb-4">
          <span class="delete-button float-right">
            <button class="btn btn-block btn-danger btn-lg" (click)="openModal('DeleteConfirmation')">
              <span class="fa fa-fw fa-trash"></span> Delete this report
            </button>
          </span>
  
          <span class="delete-button">
            <button class="btn btn-secondary btn-lg" (click)="router.navigate(['']);">
              <span class="fa fa-fw fa-arrow-left"></span> Go Back
            </button>
          </span>
  
        </div>
  
  
  
  
      </div>
  
    </div>
  