
.capitalize{
  text-transform: capitalize;
}
.new-report-wrapper{
  margin-top: 50px;
  .card-title-text{
    padding-bottom: 3px;
    border-bottom: 3px solid;
    &-safety{
      border-color:red;
    };
    &-quality{
      border-color:orange;
    };
    &-productivity{
      border-color:purple;
    }
  }

  .card-contents{
    padding: 1rem;
  }

  .right-info-panel{
    border-left: 2px dashed #ccc;
    padding-left: 2rem;
    .info-month{
      .month{
        font-size: 60px;
      }
    }
    .info-region, .info-plant{
      font-size: 25px;
    }
  }

  table{
    .row-actions{
      span{
        padding: 0px 5px;
      }
    }
  }
  .non-review-padding{
    padding-top: 70px !important;
  }
}

//experimental
